<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">Podcast.fm</a>
			<nav>
				<ul>
					<li><a href="#">Explore</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Create a Podcast</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1>Discover your new favorite<br> podcast, or create your own.</h1>
		<a href="#" class="button button_highlight">Create a Podcast</a>
		<a href="#" class="button button_white">Explore</a>
	</div>
</div>